/ARM.sln.docstates.suo
/ARM.suo
/Main/ARM.Client/obj/x86/Debug/ARM.Client_MarkupCompile.i.cache
/Main/ARM.Client/obj/x86/Debug/App.g.i.cs
/Main/ARM.Client/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Main/ARM.Client/obj/x86/Debug/MainWindow.g.i.cs
/Main/ARM.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Main/ARM.Models/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Samples/ARM/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Samples/ARMEnumTest/bin/Debug/ARMEnumTest.exe.config
/Samples/ARMEnumTest/bin/Debug/ARMEnumTest.vshost.exe
/Samples/ARMEnumTest/bin/Debug/ARMEnumTest.vshost.exe.config
/Samples/ARMEnumTest/bin/Debug/ARMEnumTest.vshost.exe.manifest
/Samples/ARMEnumTest/obj/x86/Debug/ARMEnumTest.csproj.FileListAbsolute.txt
/Samples/ARMEnumTest/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Samples/ARMManyTest/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/arm.ldb

/Main/ARM.Models/obj/Debug/*.cache

/Main/ARM.Client/bin/Debug/ARM.Client.exe
/Main/ARM.Client/bin/Debug/ARM.Client.pdb
/Main/ARM.Client/obj/x86/Debug/ARM.Client.Properties.Resources.resources
/Main/ARM.Client/obj/x86/Debug/ARM.Client.csproj.FileListAbsolute.txt
/Main/ARM.Client/obj/x86/Debug/ARM.Client.csproj.GenerateResource.Cache
/Main/ARM.Client/obj/x86/Debug/ARM.Client.exe
/Main/ARM.Client/obj/x86/Debug/ARM.Client.g.resources
/Main/ARM.Client/obj/x86/Debug/ARM.Client.pdb
/Main/ARM.Client/obj/x86/Debug/ARM.Client_MarkupCompile.cache
/Main/ARM.Client/obj/x86/Debug/App.g.cs
/Main/ARM.Client/obj/x86/Debug/MainWindow.baml
/Main/ARM.Client/obj/x86/Debug/MainWindow.g.cs
/Main/ARM.Core/bin/Debug/ARM.Core.dll
/Main/ARM.Core/bin/Debug/ARM.Core.pdb
/Main/ARM.Core/obj/Debug/ARM.Core.csproj.FileListAbsolute.txt
/Main/ARM.Core/obj/Debug/ARM.Core.dll
/Main/ARM.Core/obj/Debug/ARM.Core.pdb
/Main/ARM.Data/bin/Debug/ARM.Data.dll
/Main/ARM.Data/bin/Debug/ARM.Data.pdb
/Main/ARM.Data/obj/Debug/ARM.Data.csproj.FileListAbsolute.txt
/Main/ARM.Data/obj/Debug/ARM.Data.dll
/Main/ARM.Data/obj/Debug/ARM.Data.pdb
/Main/ARM.Data/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Main/ARM.Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Samples/ARMManyTest/obj/x86/Debug/ARMManyTest.Migrations.init.resources
/Samples/ARMManyTest/obj/x86/Debug/ARMManyTest.csproj.FileListAbsolute.txt
/Samples/ARMManyTest/obj/x86/Debug/ARMManyTest.csproj.GenerateResource.Cache
/Samples/ARMManyTest/obj/x86/Debug/ARMManyTest.csprojResolveAssemblyReference.cache
/Output
/ROutput
/Main/ARM.Client/bin
/Main/ARM.Client/obj
/Main/ARM.Core/bin
/Main/ARM.Core/obj
/Main/ARM.Data/bin
/Main/ARM.Data/obj
/Samples/ARM/bin
/Samples/ARM/obj
/Samples/ARMEnumTest/bin
/Samples/ARMEnumTest/obj
/Samples/ARMManyTest/bin
/Samples/ARMManyTest/obj
/Main/ARM.Core/*.user
/Main/ARM.Data/*.user

/*.suo
/Main/ARM.Infrastructure/bin
/Main/ARM.Infrastructure/obj
/Main/ARM.Module/bin
/Main/ARM.Module/obj

/Main/ARM.Infrastructure/*.user

/Main/ARM.Module/ARM.Module.csproj.user
